/* Check out our GitHub: github.com/GoranErdeljan/TINF19C-Team-4-Service-Registry
 * This File holds all style-information for the Web-Interface of the DNS-SD Test-Application
*/

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td  {
    padding: 5px;
}
table {
    width: 100%;
    background: white;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: gray;
}

h4 {
    padding: 5px;
}

/* CSS Classes */
.entryOverview {
    border-radius: 5px;
    padding: 15px;
    margin: 10px;
    background: lightgray;
}

.infoBox {
    border-radius: 5px;
    padding: 15px;
    margin: 10px;
    background: lightgray;
}